body{
    background-image: url("background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 689px;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #dddddd;
    transition: transform .2s;
}

a:hover{
    transform: scale(1.5);
    
}

li{
    list-style-type: none;
}

.social-media{
    display: block;
}

.social-media img{
    margin-top: 5px;
    width: 30px;
    height: 30px;
}



/*For mobile screen*/
@media screen and (max-width: 599px){
    .navigation-bar{
        display: flex;
        justify-content: space-between;
        border-bottom: 6px solid #00005f;
    }
    .nav-el a{
        font-size: 20px;
    }
    .button-el{
        margin-right: 5px;
        align-items: center;
        margin-top: 40px;
    }
    .button-el button{
        display: block;
    }
    #webpage-logo{
        font-size: 32px;
        padding-top: 40px;
        margin-left: 5px;
    }
    .social-media a{
        display: block;
    }
    .welcome-text{
        font-size: 32px;
        color: #dddddd;
        text-align: center;
        margin-top: 100px;
    }
    
    .home-page-description{
        font-size: 16px;
        color: #dddddd;
        text-align: center;
        margin-top: 50px;
    }
}

/*For desktop screen*/
@media screen and (min-width: 600px){
    .navigation-bar{
        display: flex;
        justify-content: space-between;
        border-bottom: 6px solid #00005f;
    }

    .nav-el li{
        display: inline;
        margin: 2px 15px;
        font-size: 20px;
    }
    #webpage-logo{
        font-size: 32px;
        padding: 5px 10px;
    }
    .social-media a{
        margin-top: 5px;
        margin-right: 5px;
    }
    .welcome-text{
        font-size: 32px;
        color: #dddddd;
        text-align: center;
        margin-top: 100px;
    }
    .home-page-description{
        font-size: 16px;
        color: #dddddd;
        text-align: center;
        width: 600px;
        margin: 50px auto;
    
    }



}


